@import '../../styles/colors';

.register_form {
    max-width: 720px;
    min-width: 360px;
    border-radius: 0.5em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: $bg-darker-color;
}

.register_form_title {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 1em;
}

.register_form_input {
    padding: 0.75em;
    border: none;
    margin: 1em 0;
    font-size: 1.15em;
    border-radius: 0.5em;
}

.register_button_wrapper,
.register_login,
.register_error {
    margin-bottom: 1em;
}

.register_error,
.register_login,
.register_form_title {
    color: $alert-color;
}

.register_login {
    font-size: 1.15em;
}

.register_login_span {
    font-weight: bolder;
    color: $alert-color;
}

.register_login_span:hover,
.register_login_span:focus {
    text-decoration: underline;
}